# ⚡️ Evita subir dependencias de Node.js
node_modules/
package-lock.json
yarn.lock

# ⚡️ Angular builds temporales (las genera Actions)
dist/

# ⚡️ Archivos de configuración locales
/.angular/
.angular/cache/
/.firebase/
.vscode/
.idea/
*.sublime-workspace

# ⚡️ Archivos de logs y debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ⚡️ Archivos del sistema (Mac y Windows)
.DS_Store
Thumbs.db

# ⚡️ Git y entorno
.git/
.gitignore
.env
